@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: helvetica-medium-en;
  src: url("/fonts/Helvetica-Neue-W01-66-Medium-It.ttf") format('truetype');;
}

.background{
  /* background: linear-gradient(180deg, #11101A 0%, #11101A 100%); */
  background: linear-gradient(180deg, #11101A 0%, #08080D 100%);

}
